.conso{
	font-size: 120px;
}
.connt{
	font-size: 30px;
	padding-bottom: 130px;
}
.contentsour-body{
	padding-top: 230px;
}
.cards-content-container{
	margin: 0 333px;
}
.card-cont1{
	width: 403px;
	height: 244px;
	border: solid white 1px;
	border-radius: 10px;
}